In [1]:
import sqlite3 as sql
conn=sql.connect("suhana.db")
# create a cursor object using the connection - allows us to go through the records
cursor = conn.cursor()

In [2]:
cursor.execute('''
CREATE TABLE people(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL, 
    age INTEGER,
    city TEXT
);
''')

In [3]:
conn.commit()

In [4]:
cursor.execute('''
INSERT INTO people (name, age, city) VALUES ('John Doe', 30, 'New York');
''')

In [5]:
cursor.execute('''
INSERT INTO people (name, age, city) VALUES ('Rezel', 28, 'Ambala');
''')

conn.commit()

In [6]:
cursor.execute('''
               SELECT * FROM people;
               ''')

results = cursor.fetchall()

In [7]:
import pandas as pd

df = pd.DataFrame(results)
df

   0         1   2         3
0  1  John Doe  30  New York
1  2     Rezel  28    Ambala

In [8]:


conn.close()

In [11]:
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='suhana',
    password='password',
    database='suhana.db'
);

cursor = connection.cursor()

ModuleNotFoundError: No module named 'mysql'