PANDAS

In [1]:
import pandas as pd
data={
    "a":[1,2,3],
    "b":[1,2,3],
    "c":[1,2,3]
}
df=pd.DataFrame(data)
print(df)

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3

In [2]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [3]:
#remove some column from table
df1=df.drop(columns=['a','b'])
print(df1)

   c
0  1
1  2
2  3

In [4]:
data ={
    " Student_Name":["Kanchan","Deepika","Suhana","Neha"],
    "Roll_no." :[2322819, 2322010, 2322008, 2322810],
    "Subject1 ": [97, 89,90,95],
    "subject2" :[90,80,85,95],
    "subject3":[95,84,99,90]


}

In [5]:
import pandas as pd
df = pd.DataFrame(data)
print(df)

   Student_Name  Roll_no.  Subject1   subject2  subject3
0       Kanchan   2322819         97        90        95
1       Deepika   2322010         89        80        84
2        Suhana   2322008         90        85        99
3          Neha   2322810         95        95        90

In [6]:
df.to_csv('my_data.csv', index=False)

In [7]:
df = pd.read_csv('my_data.csv')

In [8]:
print(df)

   Student_Name  Roll_no.  Subject1   subject2  subject3
0       Kanchan   2322819         97        90        95
1       Deepika   2322010         89        80        84
2        Suhana   2322008         90        85        99
3          Neha   2322810         95        95        90